<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container pt-4">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
            <h2>About Us</h2>
            <hr>
            <p>This is made for student to submit their notes.</p>
        </div>
        <div class="col-md-4">
          <h2>Contacts</h2>
          <hr>
          <ul>
              <li>Email: arunpatel209@gmail.com</li>
              <li>Phone: +91-9682030581</li>
          </ul>
        </div>
        <div class="col-md-4 col-xl-3">
          <h2>Links</h2>
          <hr>
          <ul class="nav-list">
            <li><a routerLink="login">LogIn</a></li>
            <li><a routerLink="signup">SignUp</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>