<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="row" *ngIf="!isLoading">
      <div class="login-main" >
        <div class="login-image">
          <h3>Login Here</h3>
          <h3 style="color: red">{{errorMsg}}</h3>
        </div>
        <form class="m-3" [formGroup]="loginForm">
          <div class="form-group">
            <input
              id="email"
              formControlName="email"
              type="text"
              class="form-control"
              placeholder="Email."
              [ngClass]="{'is_invalid': !f.email.errors}"
              required>
            <div *ngIf="validationCheck && f.email.invalid" class="alert alert-danger">
              <div *ngIf="f.email.errors.required">username name is required.</div>
              <div *ngIf="f.email.errors.minlength">Name must be at least 4 char long.</div>
            </div>
          </div>
          <div class="for-group">
            <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
            <div *ngIf="f.password.invalid && validationCheck" class="alert alert-danger">
              <div *ngIf="f.password.errors.required">Password is required.</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 5 char long.</div>
            </div>
          </div>
          <div class="form-group mt-3">
            <select class="form-control" id="role" formControlName="role">
              <option value="">Select Role</option>
              <option name="" value="student">Student</option>
              <option name="" value="teacher">Teacher</option>
            </select>
          </div>
          <button class="btn btn-info mt-3" (click)="onLogin()">Login</button>
        </form>
        <br>
        <div class="l-text">
          <p>Not account yet ! <a routerLink="../signup">SignUp</a></p>
        </div>
      </div>
    </div>
  </div>
  