.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}

/* table{
    overflow-x:scroll;
    height:300px;
    display:block;
 } */