.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}

.card {
    width: 100%;
    min-height: 30vh;
}

 mat-card {
     width: 30%;
     float: left;
     background-color: #857a9e;
 }